#nombre {
    font-style: inherit; /*No sé que estoy haciendo aquí*/
    color:brown;
    font-size: 2rem;
}

#mes {
    font-style: oblique;
    color:darkblue;
    font-size: 2rem;
}

#email {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
    font-size: 2rem;
}



